.app-header {
  align-items: flex-end;
  justify-content: space-between;
}

.app-header h1 {
  /* width: 150px;
  height: 150px; */
  font-size: 28px;
  font-family: Franklin Gothic Medium;
  text-decoration: underline;
  color: #17A2B8;
}

.app-header h2 {
  font-size: 1.2rem;
  color: grey;
}

.app-header button {
  font-size: 15px;
  width: 50px;
}
.app-header button:focus {
    box-shadow: none;
    outline: none;
}

